<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fireflies</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  
  <link rel="stylesheet" href="resources/assets/css/General/style-firefly.css">
  <link rel="stylesheet" href="resources/assets/css/General/menul.css">


</head>
<body>
    <div class="navbar">
        <div class="menubar" id="menubar">
            <img class="menuIcon" src="resources/assets/images/logo.png" alt="menu" >
            <h2 class="MenuTitle">Menú</h2>
            <ul class="menuUl">
                <li class="menuLi"><a href="/">Reproductor</a></li>
                <li class="menuLi"><a href="/songlist">Canciones</a></li>
                <li class="menuLi"><a href="/lanterns">Linternas</a></li>
                <li class="menuLi"><a href="/flower">Flor</a></li>
                <li class="menuLi"><a href="/poemas">Poemas</a></li>
                <li class="menuLi"><a href="/bitacora">Bitácora</a></li>
            </ul>
        </div>
    </div>
<!-- partial:index.partial.html -->
<!-- Quantity should be the same in Sass-->
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>

<script src="resources/js/firefly.js"></script>
<script src="resources/js/menuCode.js"></script>
</body>
</html>
