<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanternas</title>
</head>
<body>
    <div class="navbar">
        <div class="menubar" id="menubar">
            <img class="menuIcon" src="resources/assets/images/logo.png" alt="menu" >
            <h2 class="MenuTitle">Menú</h2>
            <ul class="menuUl">
                <li class="menuLi"><a href="/">Reproductor</a></li>
                <li class="menuLi"><a href="/songlist">Canciones</a></li>
                <li class="menuLi"><a href="/firefly">Luciérnagas</a></li>
                <li class="menuLi"><a href="/flower">Flor</a></li>
                <li class="menuLi"><a href="/poemas">Poemas</a></li>
                <li class="menuLi"><a href="/bitacora">Bitácora</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>