<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/assets/images/logo2.png">
  <link rel="stylesheet" href="resources/assets/css/General/menul.css">
    <title>404</title>
    <style>
        html, body{
            height: 100%;
        }
        body{
            background: url("resources/assets/images/404.jpg");
            background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="menubar" id="menubar">
            <img class="menuIcon" src="resources/assets/images/logo.png" alt="menu" >
            <h2 class="MenuTitle">Menú</h2>
            <ul class="menuUl">
                <li class="menuLi"><a href="/">Reproductor</a></li>
                <li class="menuLi"><a href="/songlist">Canciones</a></li>
                <li class="menuLi"><a href="/firefly">Luciérnagas</a></li>
                <li class="menuLi"><a href="/flower">Flor</a></li>
                <li class="menuLi"><a href="/poemas">Poemas</a></li>
                <li class="menuLi"><a href="/bitacora">Bitácora</a></li>
            </ul>
        </div>
    </div>
    <script src="resources/js/menuCode.js"></script>
</body>
</html>