<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="resources/js/turn.min.js"></script>
    <link rel="shortcut icon" href="resources/assets/images/logo2.png">
    <link rel="stylesheet" href="resources/assets/css/General/menul.css">
    <link rel="stylesheet" href="resources/assets/css/General/poems.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    
    

    <title>Poemas</title>
</head>
<body>
    <div class="navbar">
        <div class="menubar" id="menubar">
            <img class="menuIcon" src="resources/assets/images/logo.png" alt="menu" >
            <h2 class="MenuTitle">Menú</h2>
            <ul class="menuUl">
                <li class="menuLi"><a href="/">Reproductor</a></li>
                <li class="menuLi"><a href="/songlist">Canciones</a></li>
                <li class="menuLi"><a href="/flower">Flor</a></li>
                <li class="menuLi"><a href="/poemas">Poemas</a></li>
                <li class="menuLi"><a href="/bitacora">Bitácora</a></li>
            </ul>
        </div>
    </div>

    <div id="flipbook">
        <div class="hard portada"></div>
        <div>
            <h5>Cama Vacía</h5>
            <p>Mi cama se siente fría,
                un poco vacía sin tu calor,
                te necesito aquí mi amor,
                no sólo para hacerte mía,
                sinó también para curar ésta agonía que siente mi pecho,
                que está deshecho de tanto extrañar,
                a una bella niña que mi corazón hozó robar.
            </p>
        </div>
        <div>
            <h5>La Poesía</h5>
            <p>¿Aún no lo entiende, verdad?
                La poesía no son sólo palabras vacías, ni un sentimiento fugaz, es describir al andar la belleza del lugar, para que aquellos que no pueden mirar, la puedan sentir y apreciar.
            </p></div>
        <div>
            <h5>Antojos</h5>
            <p>Las rosas son rojas,<br>
                las orquídeas son violetas,<br>
                y como no soy poeta... <br>
                te quiero comer esas tetas. <br>
            </p>
        </div>
        <div>
            <h5>Su sonrisa</h5>
            <p>Más vital es su sonrisa, <br>
                su sonrisa y la brisa que deja al son de su caminar, <br>
                tan poderosa como para mi alma y corazón robar.
            </p>
        </div>
        <div>
            <h5>Ladrón de sonrisas</h5>
            <p>No lo puedo evitar,<br>
                su sonrisa intentar robar,<br>
                aún si no la puedo apreciar,<br>
                he de saber por los destellos en el cielo,<br>
                que mi dulce lucero,<br>
                no ha regalado esa sonrisa por la que me muero.
            </p>
        </div>
        <div>
            <h5>Agradecida mía</h5>
            <p>Nunca me des las gracias por quedarme, <br>
                porque vos sos mi hogar. <br>
                No me des las gracias por hablarte, <br>
                porque tus palabras son mi abrigo. <br>
                No me des las gracias por robarte una sonrisa, <br>
                porque ella ilumina mi camino.
            </p>
        </div>
        <div>
            <h5>Amar es resistir</h5>
            <p>
                Mi niña hermosa, en nuestra relación no todo es color de rosa,
                aunque ciertas cosas nos causen pesar,
                debemos nosotros aguantar y ayudarnos, querernos, cuidarnos,
                incluso si parece que debamos soltarnos, agárrate fuerte de mi mano,
            </p>
        </div>
        <div>
            <p>
                subamos peldaño a peldaño, juntos lo vamos a lograr. Esta noche te prometo mi cielo,
                que he de morir primero, antes que su mano soltar, pues sólo quiero con usted pasar,
                mi vida y toda la eternidad.</p>
        </div>
        <div>
            <h5>Mi pequeño lucero</h5>
            <p>Estrellita mía nunca dejes de brillar,
                sigue alumbrando los caminos con tu andar,
                que de esa sonrisa brota sin más,
                la luz mas pura y hermosa vista jamás.
                Espero amor mío nunca me falte tu brillo,
            </p>
        </div>
        <div>
            <p>
                Dios me dió un castillo donde me puedo refugiar,
                tus brazos quizás me dan seguridad,
                pero tu amor, hace que quiera siempre un poco más.
            </p>
        </div>
        <div>
            <h5>Aturdimiento</h5>
            <p>Estoy confundido... aturdido. <br>
                El sólo hecho de recordar lo que pasamos juntos en tres días me llena de alegría
                y enamoramiento, <br> haciendo que me falte el aliento y no me pueda concentrar,
            </p>
        </div>
        <div>
            <p>mis 
                versos inconclusos dejar y no poder dejar de pensar en una niña tan bella que sus labios me dejó besar.</p>
        </div>
        <div>
            <h5>Flor amarilla</h5>
            <p>En el jardín de mi corazón hay una flor amarilla que brilla con el sol y perfuma mi vida.br <br>
                Es la flor de mi amor la que me hace soñar con un cuento de hadas como el de Floricienta. <br>
                Ella es mi princesa, yo soy su príncipe azul, juntos vivimos aventuras y nos damos mucho amor...  <br>
            </p>
        </div>
        <div>
            <p>Somos como Flor y Fede que se aman sin temor a pesar de las barreras que les pone el destino. <br>
                Nada nos puede separar ni la distancia ni el dolor porque nuestra flor amarilla es el símbolo de nuestro amor.</p>
        </div>
        <div>
            <h5>La Magia</h5>
            <p>Si, debe ser magia, alguna clase de hechizo de felicidad que me han lanzado, <br>
                en el que me encuentro enamorado y no puedo escapar, <br>
                su sonrisa es una prisión fugaz que apresa mí mirada <br>
            </p>
        </div>
        <div>
            <p>y allí la deja encantada hasta que decide sus lindos labios sellar <br>
                dejándome sólo esperar, poder verla una vez más.</p>
        </div>
        <div>
            <h5>Giro del Destino</h5>
            <p>Milagros aunque jamás creí que te podría llamar "Amor",
                mí corazón siempre te amó con gran fulgor, <br>
                 y gracias a un giro del destino, se juntaron nuestros caminos... <br>
                 Me siento taaan feliz de haberte conocido y poder llamarte "Amor mío".
            </p>
        </div>
        <div>
            <h5>Mundo de sentimiento</h5>
            <p>Ay bb, Solo son pocas palabras para un basto mundo de sentimientos
                Y además está muy alejado de la realidad
                Sólo que no me alcanzó el lugar, para en él expresar todo lo que siento en su mirar, 
                que en tan pocos segundos me puede enamorar.
            </p>
        </div>
        <div>
            <h5><em>Versos desaparecidos</em></h5>
            <p>Perdóneme amor mío, Mis versos que antes fluían como el río,
                 Se secaron dejando aquel vacío, que en su noble corazón se ha de notar, 
                 Es para mí un gran pesar mis poemas no hacerle llegar, permítame una vez más,
                  su corazón poder robar con tal humilde poesía que proviene de esta sinfonía 
             </p>
        </div>
        <div>
            <p>que causa mi palpitar, Espero pueda perdonar a este pobre hombre, 
                que por sus actos responde con un dolor en el pecho, 
                que solo puede ser deshecho si le regala su mirar, 
                para así poder apreciar su tremenda belleza, 
                le pido de rodillas princesa, 
                que no me prive jamás de su incalculable belleza...</p>
        </div>
        <div>
            <h5><em>Percepción</em></h5>
            <p>He de conocer su belleza mucho antes de amarla, aprendí a verla y admirarla.
                Mi percepción de la realidad no ha de estar alterada, a menos que me llegue el reflejo de su mirada,
                sólo entonces cambia.
            </p>
        </div>
        <div>
            <h5><em>Ver la belleza</em></h5>
            <p>En el espejo de tu alma, te invito a mirar, La belleza que en ti reside, sin cesar.
                 Tu sonrisa ilumina como el sol en el alba, Eres un verso perfecto en la vida que enmarca.
                Tus ojos reflejan el brillo de las estrellas, Tu corazón late como melodía de doncellas.
                La belleza no está en los ojos de quien te ve,
                </p>
        </div>
        <div>
            <p>Sino en la esencia de tu ser, créeme.
                A veces la modestia nos ciega ante la realidad, Pero eres hermosa de una forma especial, en verdad.
                No niegues el regalo que eres para este mundo,
                Deja que tu belleza interior brille sin segundo.
                No te compares con otros, eres única y singular,
                Una obra maestra,</p>
        </div>
        <div>
            <p> un poema que jamás
                dejaré de admirar.
                Así que, querida amiga, acepta este verso con amor,
                Y descubre la belleza que eres, en cada resplandor.
                La belleza que en ti reside, sin cesar.
                Tu sonrisa ilumina como el sol en el alba, Eres un verso perfecto en la vida que enmarca.</p>
        </div>
        <div>
            <h5><em>Buenos días Chaparrita</em></h5>
            <p>Aunque tenía prisa por volver, no podía dejar de ver a tan linda muchacha, que en mí pecho descansa y llena de suspiros mí piel,
                ¿Que clase de hombre podría ser, si no me revelo ante el sereno para poder verla bien?.                
                Intenté componer algo en mí mente mientras reposaba,
            </p>
        </div>
        <div>
            <p> pero ella se robaba mí mirada y mí concentración, mí corazón latía al son de tan dulce melodía que genera el descansar de mí amada Campanita....                
                <em>- Te amo princesa.</em> Exclamé entre susurros, y aquí es donde recurro a mí gran capacidad, de mis nervios aguantar para a tremenda Diosa no despertar.                
            </p>
        </div>
        <div>
            <p>- <em>Me voy mí amor, mí niña preciosa.</em> Exclamé en voz baja, mí corazón se aventaja y me regala un latir, cálido y sin fin, como si fuera una despedida, me arriesgaría: -Hasta luego, querida mía, <br> que en cada latido él le diría.
                <em>Ésta vez si me voy eh!.</em> Le dije susurrando y mis ganas de reír aguantando para no darle un abrupto despertar</p>
        </div>
        <div>
            <p>y que ella pueda descansar luego de una larga noche, ahora sin ningún reproche he de partir, esperando anhelante sentir la melodía de su notificación, que revuelve mí corazón y lo llena de alegría,</p>
        </div>
        <div>
            <h5>Amor Eterno</h5>
            <p>Te Amo de aquí a la eternidad,porque allí puedo reposar, y si es a su lado, que descansar más preciado que puedo tener,
                tanto así que me deja a sus pies.
            </p>
        </div>
        <div>
            <h5>Difundir poesía</h5>
            <p>Pero mi amor, yo odiaría compartir mmi poesía con la burguesía, si ya tengo todo lo que quería,
                una Reina, una Princesa y una cacería, cacería de la felicidad infinita,
                que llega de la mano de mi amada <em>Campanita.</em>
            </p>
        </div>
        <div>
            <h5>Buenas noches</h5>
            <p>Espero que puedas descansar amor mío, estos versos son como un río,
                fluyen sin cesar, para a mí amada poder llegar,                
                se ofrecen de a montones, para mostrar               
                sus pasiones,                
                mi niña bella, mí catalizador de emociones,                
                tengo miles de razones para que en estas                
                condiciones,
            </p>
        </div>
        <div>
            <p> diga ciertas expresiones para que mí                
                corazón no implosione.                
                Mí Princesa, amor de mí vida,                
                espero goze de un gran día, y que se llene de alegría al leer esta poesía...                
                No sé cuánto mas podré tardar, en lo que espero pueda descansar, sus ojitos cerrar y mí verso poder terminar, para al fin poder mandar,                
            </p>
        </div>
        <div>
            <p>
                mi manuscrito y mi confesión final. <em>¿Que más podría decirle?</em>
                Si soy susceptible a todos sus encantos,                
                <em>¿Y cómo no?</em> Si la amo tanto que sí usted                
                lo pidiera le regalaría mí vida entera, nuestro chat es una escalera que me facilita el cielo tocar,                
                con tan solo admirar los mensajes que me envía,                
                es como si fuera mí guía a través de la noche oscura,                
            </p>
        </div>
        <div>
            <p>
                es usted para mí la cura de todos los males,                
                como usted no hay dos iguales,                
                sus cualidades son tan especiales que me                
                hacen vibrar,                
                mi corazón palpitar,                
                y mí cabeza al verla, no para de girar. <br>
                <em>Te amo con cada átomo de mí cuerpo chaparrita hermosa.</em>
            </p>
        </div>
        <div>
            <h5>Sin palabras</h5>
            <p>Es algo difícil de explicar, me es imposible de mí mente borrar, una chica de belleza singular, que mí corazón pone a palpitar, que mi alma busca gritar cuánto la ama y más,
            </p>
        </div>
        <div>
            <p>
                jamás crea que la he de abandonar, pues en usted encuentro todo lo que pudiera buscar, y cuando estoy con usted, no paro de soñar
            </p>
        </div>
        <div>
            <h5>Prisionero del Amor</h5>
            <p>Me pasa lo mismo amada mía.... Sinceramente es la primera vez que siento tanto, debe ser que me ganó su encanto, no sé por qué la amo tanto, sólo sé que estoy preso de mis emociones,</p>
        </div>
        <div>
            <p>que se intensifican por montones, cada vez que el sol de pone, usted lo opaca con razones, para amarla más y más, en todas sus versiones.</p>
        </div>

        <div>
            <h5>Notificación del Destino</h5>
            <p>Y de la nada, un día me llegó una notificación, sin saber que se convertiría en una pasión entregarle mi corazón y día a día
                suplicarle al destino, que no sea una broma cruel conmigo, pues nada soy sin su presencia y me mataría su ausencia, quédese amada mía y acompañeme...Por el resto de mis vidas.
            </p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <h5></h5>
            <p></p>
        </div>
        
        <div class="hard backdoor"></div>
    </div>
   
    <script type="text/javascript">
        $("#flipbook").turn({
            width: 900,
            height: 400,
            autoCenter: true
        });
        
    </script>
    <script src="resources/js/poems.js"></script>
    <script>
        //$(window).on('load', function(event) {
        //$('#flipbook').turn('page', 38);
        //});
    </script>
</body>
</html>