body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
  }
  .music-player audio {
    width: 100%;
  }
  .music-player .song-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  .music-player .song-info .song-name {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .music-player .song-info .song-artist {
    font-size: 1rem;
    color: #888;
  }
  .music-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .music-player .controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #666;
    margin: 0 5px;
    transition: color 0.2s;
  }
  .music-player .controls button:hover {
    color: #000;
  }
  .song-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .song-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .song-list a {
    color: #333;
    text-decoration: none;
  }

button{
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* Agrega otros estilos según sea necesario */
}

#audioplayer{
  margin: 20px 0px 20px 0px;
}

.playing {
  background-color: #fb3df2; /* Cambia el color de fondo del botón en reproducción */
  color: #ffffff; /* Cambia el color del texto del botón en reproducción */
}
